# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
**/node_modules/**

# testing
/coverage

# production
**/build/**
**/public/*.js

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vs / net ignores

# folders
**/bin/*
**/obj/*
**/v15/*

# files
*.msi


